.hero-container{
  position: relative;
}

.heroImg {
  background-image: url('./assets/image/header-image.png') ;
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* filter: brightness(50%) ; */
  /* background-color: black ; */
  
}

.logo{
 position: absolute;
  color: red;
  left:8%;
  width: 250px;
}
.nav-text{
 position: absolute;
 right: 10%;
}

.heroImg-child{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.712);
}

.hero-text-container{
  position: absolute;
  top:50%;
  left : 50%;
  transform: translate(-50%,-30%);
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  text-align: center;
  color: #fff;
  margin:0;
  padding: 0;
}

.hero-lg-text{
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.hero-text-container b,p{
  margin-top: 2%;
  font-size: 1.2rem;
}

